.MainHeader 
{
    height: 10vh;
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
}
.HeaderLeft
{
    width: 30%;
    height: 100%;
    font-size: 50px;
    text-align: center;
}
.HeaderCenter
{
    width: 55%;
    height: 100%;
}
.HeaderRight
{
    width: 15%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: right;
}
.Settings
{
    text-align: center;
    width: 99%;
    height: 30%;
    border: 1px solid black;
    cursor: pointer;
}
.Settings:hover
{
    background-color: darkslategray;
    color: white; 
}
.ToolCheck
{
    text-align: center;
    width: 99%;
    height: 30%;
    border: 1px solid black;
    cursor: pointer;
}
.ToolCheck:hover
{
    background-color: darkslategray;
    color: white;
}